<!DOCTYPE html>
<html lang="en">
<h1>End Game</h1>
<form method="POST">
{% csrf_token %}
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Buy-in Amount</th>
      <th>Current Amount</th>
    </tr>
    </thead>
    <tbody>
    {% for player in players %}
    <tr>
      <td>{{ player.name }}</td>
      <td>{{ player.buy_in }}</td>
      <td>
        <div class="control">
          <input type="number" name="{{ player.id }}" value="{{ player.current_amount }}" required>
        </div>
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  <div class="field">
    <div class="control">
      <button class="button is-success" type="submit">End Game</button>
    </div>
  </div>
</form>
</html>